.main-document-sub {
  margin-top: 11px;
}
.btn.btn-success.button-invite-carrier {
  background-color: #00008B;
  border: 0;
  margin-bottom: 12px;
  margin-top: -18px;
  border-color: #00008b4a;
}

.btn.btn-success.button-approve-carrier {
  background-color: #00008B;
  border: 0;
  border-color: #00008b4a;
}
.add-carrier-form {
  width: 100%;
}
.carrier-add-sub-title {
  color: #00008B;
}

  .setting-nav {
      position: relative;
      list-style: none;
      padding: 0;
      margin: 0;
   }
   .setting-nav::before{
      content: "";
      position: absolute;
      top: 0;
      width: 50%;
      height: 100%;
      z-index: 1; 
   }

.setting-nav-title {
  position: relative;
  width:auto;
  font-weight: bold;
}
   .setting-nav-title a {
      display: block;
      padding: 10px 20px;
      border: 1px solid #ccc;
      text-decoration: none;
      color: #00008B;
      position: relative;
      z-index: 2;
   }
   .nav.setting-nav {
  margin-top: 1px;
  margin-left: 1px;
}

.nav-item.setting-nav-title.active {
  background-color: #00008B;
}
.setting-nav-title a {
  color: #00008B;
}
.setting-nav-title a.active {
  color: #fff;
}



.profile-ud-item {
    width: 360px!important;
    padding: 0 3.25rem;
}
